<section class="availability">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Type</th>
      <th scope="col">Size</th>
      <th scope="col">Storey</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Standard Room</td>
      <td>19 m²</td>
      <td>1</td>
      <td appStatusColor>Free</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Standard Room</td>
      <td>21 m²</td>
      <td>1</td>
      <td appStatusColor>Busy</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Superior Room</td>
      <td>25 m²</td>
      <td>2</td>
      <td appStatusColor>Free</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Superior Room</td>
      <td>24 m²</td>
      <td>2</td>
      <td appStatusColor>Reserved</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Premium Room</td>
      <td>27 m²</td>
      <td>3</td>
      <td appStatusColor>Free</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Premium Room</td>
      <td>26 m²</td>
      <td>3</td>
      <td appStatusColor>Reserved</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Suite</td>
      <td>50 m²</td>
      <td>4</td>
      <td appStatusColor>Busy</td>
    </tr>
  </tbody>
</table>
</section>
